 /* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 


body{
	background-color: #292929;
}

.entries-container{
	display:block;
	width: 100%;
	height: inherit;
}
.entry {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 5px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.5);
}
.entry:hover{
	background-color: rgba(255, 255, 255, 0.7);

}
.entry-color {
	height: 100%;
	width: 10px;
	background-color: yellow;
	position: absolute;
}
.entry-content {
	vertical-align: top;
	width: 100%;
	padding-left: 15px;
	margin-right: 5px;
}
